* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #211f3c !important;
}

/* Whatsapp */
/*.whatsapp-tab {
    position: fixed;
    top: 50%; /* A media página */
    /*transform: translateY(-50%); /* Centrar verticalmente */
    /*right: -50px; /* Ocultar parcialmente fuera de la pantalla */
    /*width: 70px;
    /*height: 80px;
    /*background-color: #25d366; /* Color típico de WhatsApp */
    /*border-color: #25d366;
    /*color: white;
    /*display: flex;
    /*align-items: center;
    /*justify-content: center;
    /*font-weight: bold;*/
    /*font-size: 16px;
    /*border-radius: 10px 0 0 10px;
    /*cursor: pointer;
    transition: right 0.3s ease; /* Efecto de deslizamiento */
   /* writing-mode: vertical-rl; /* Hace que el texto sea vertical */
    /*text-orientation: mixed; /* Asegura que las letras estén en su posición normal */
    /*text-align: left;
}*/

/*.whatsapp-tab:hover {
    right: 0; /* Deslizar hacia afuera */
/*}*/

/* Agregar sombra al texto */
/*.whatsapp-tab span {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}/*

/* Fin Whatsapp */

header {
    width: 100%;
    height: auto;
}

/*Contenedor Logo + Menu*/
.contenedor-logo-menu {
    visibility: hidden;
    display: none;
}
.contenedor-logo-menu-pc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.logo-menu-pc {
    width: 170px;
    height: auto;
    margin-left: 50%;
    margin-top: 10%;
}

.menu-pc {
    visibility: visible;
}

/*Menu Hamburguesa */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 18px;
    transition: transform 0.5s ease;
}

.hamburger.active {
    transform: rotate(45deg);
}

.hamburger .line {
    width: 100%;
    height: 2px;
    background-color:white;
    transition: all 0.5s ease;
    translate: (100px, 800px);
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 3px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-mobil {
    visibility: hidden;
}

#menu {
    position: fixed;
    top: 12vh;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #211f3c;
    transition: left 0.5s ease;
    z-index: 100;
}

#menu ul {
    list-style-type: none;
    text-align: left;
}

#menu ul li {
    padding-top: 15px;
    padding-bottom: 15px;
}

#menu ul li a {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-size: clamp(16px, 2vw, 20px);
    transition: color 0.3s;
}

#menu ul li a:hover {
    color: #e16f11 !important;
}
/* Fin Menu Hamburguesa */
/*  Menu PC*/
.menu-pc ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: end;
}

.active {
    color: #e16f11 !important;
}

.menu-link {
    text-decoration: none;
    color: #303030;
    font-family: "Poppins";
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

.menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #e16f11;
    transition: width 0.4s ease-in-out;
}

.menu-link:hover::after,
.menu-link:focus::after {
    width: 100%;
}

.menu-pc li {
    margin-right: 25%;
    position: relative;
}

.menu-pc li a{
    text-decoration: none;
    color: white;
    font-family: "Poppins";
}
.menu-pc li a:hover {
    color: #e16f11;
}

/* Fin menu PC */

/*Main*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*gap: 5px;*/
    background-color: #302d54;
    width: 90%;
    height: auto; 
    margin-top: 30px;
    border-radius: 35px;
}
.h1-main {
    color:#ffde00;
    font-family: "Poppins";
    font-size: clamp(50px,10vw, 80px);
    text-align: left;
    max-width: 300px;
    margin-left: 5%;
    margin-top: 5%;
}
.h1-span {
    color: #e16f11;
    font-family: "Poppins";
    font-weight: bolder;
}
.h3-main {
    color: white;
    margin-left: 5%;
    margin-top: 5%;
    text-align: left;
    font-family: "Poppins";
    font-size: clamp(22px, 4vw, 32px);
    max-width: 600px;
}
.img-main {
    width: auto;
    height: 480px;
    margin-top: 2%;
}

.img-main-2 {
    width: auto;
    height: 516px;
    margin-right: 2%;
    margin-top: 2%;
}

/* Contenedor Redes */
.contenedor-redes {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.redes {
    font-size: 25px;
}

/* Herramientas */
.seccion-herramientas {
    margin-top: 5%;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.h3-herramientas {
    color: #ffde00;
    font-family: "Poppins";
    font-weight: bold;
    font-size: clamp(18px, 6vw, 28px);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.span-herramientas {
    color: #e16f11;
    font-family: "Poppins";
    font-weight: bold;
}

.p-herramientas {
    margin-top: 10px;
    color: white;
    font-family: "Poppins";
    font-size: clamp(15px, 3vw, 18px);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 55px;
    
}

.contenedor-herramientas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.card-herramientas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    width: 300px;
    height: 330px;
    border: solid 1px #ffde00;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.card-herramientas.show {
    opacity: 1;
    transform: translateY(0);
}

.p-card-herramientas {
    color: #e16f11;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.h4-card-herramientas {
    color: #ffde00;
    padding-left: 10px;
    padding-right: 10px;
}

.p2-card-herramientas {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10%;
    font-size: clamp(18px, 4vw, 20px);
}

.card-herramientas:hover {
    background-color: #302d54;
}

.contenedor-mas-herramientas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contenedor-mas-herramientas a {
    text-decoration: none;
    color: #ffde00;
}

.h4-card-herramientas {
    font-family: "Poppins";
    font-size: clamp(18px, 4vw, 22px);
}

.span-mas-herramientas {
    color: #e16f11;
}

/*Seccion Valores */

.seccion-valores {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    width: 90%;
    border-radius: 35px;
    height: auto;
    padding-top: 5%;
    margin-bottom: 5%;
    background-color: #302d54;
}

.h4-valores {
    font-family: "Poppins";
    color: #ffde00;
    font-size: clamp(18px, 6vw, 28px);
    font-weight: bold;
    text-align: center;
    height: auto;
}

.span-valores {
    color: #e16f11;
}

.p-valores {
    margin-top: 10px;
    color: white;
    font-family: "Poppins";
    font-size: clamp(15px, 3vw, 18px);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#mision {
    justify-content: center !important;
    align-items: center !important;
    width: 90%;
    height: auto !important;    
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.h4-mision {
    color: #ffde00;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-family: "Poppins";
}

.p-valores-mision {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10%;
    font-size: clamp(18px, 4vw, 20px);
}

/* Seccion Por que elegirnos */
.seccion-eleccion {
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contenedor-eleccion-general {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
}

.contenedor-eleccion {
    display: flex;
    height: auto;
}

.card-eleccion {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 640px;
}

#borde-eleccion-1 {
    border: 2px solid #00B64F
}

#borde-eleccion-2 {
    border: 2px double #8c52ff;
}

#borde-eleccion-3 {
    border: 2px double #ff66c4;
}
#borde-eleccion-4 {
    border: 2px double #ff3131;
}
#borde-eleccion-5 {
    border: 2px double #52ff00;
}
#borde-eleccion-6 {
    border: 2px double #ff005c;
}

.contenedor-img-eleccion {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-eleccion {
    width: 80%;
    height: auto;
}

.img-eleccion {
    width: 40px;
}

.h5-eleccion-1 {
    color: #00B64F;
    font-family: "Poppins";
    text-align: center;
    margin-top:10px ;
    padding-right: 10px;
}

.h5-eleccion-2 {
    color: #8c52ff;
    font-family: "Poppins";
    text-align: center;
    margin-top:10px ;
    padding-right: 10px;
}

.h5-eleccion-3 {
    color: #ff66c4;
    font-family: "Poppins";
    text-align: center;
    margin-top:10px ;
    padding-right: 10px;
}

.h5-eleccion-4 {
    color: #ff3131;
    font-family: "Poppins";
    text-align: center;
    margin-top:10px ;
    padding-right: 10px;
}

.h5-eleccion-5 {
    color: #52ff00;
    font-family: "Poppins";
    text-align: center;
    margin-top:10px ;
    padding-right: 10px;
}

.h5-eleccion-6 {
    color: #ff005c;
    font-family: "Poppins";
    text-align: center;
    margin-top:10px ;
    padding-right: 10px;
}

.p-eleccion {
    color: white;
    padding-right: 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10%;
    font-size: clamp(18px, 4vw, 20px);
}

/* Seccion Reseñas */
.seccion-resenas {
    display: flex;
    justify-content: center;
    
}
.contenedor-resenas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    width: 90%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #302d54;
    border-radius: 35px;
}

.h4-resenas {
    font-family: "Poppins";
    color: #ffde00;
    font-size: clamp(18px, 6vw, 28px);
    font-weight: bold;
    text-align: center;
    height: auto;
    margin-top: 5%;
}
.card-resenas {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    
}

.img-card-resenas {
    width: 60px;
    height: auto;
    margin-left: 10px;
    margin-top: 15px;
}

.estrellas-resenas {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.nombre-resenas {
    color: #e16f11;
    margin-left: 10px;
}

.h5-resenas {
    font-family: "Poppins";
    font-size: clamp(14px, 2vw 18px) !important;
    color: #ffde00;
    margin-left: 10px;
}

.p-resenas {
    color: white;
    font-size: clamp(12px, 2vw 16px);
    margin-left: 10px;
}

.final-resenas {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

/* Seccion Contacto */

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

input, textarea {
    margin-bottom: 10px !important;
}

input::placeholder,
textarea::placeholder {
  font-family: "Poppins" !important;
  font-size: 14px;
  color: #e16f11 !important;
}

button {
    margin-top: 12px !important; /* Espaciado superior */
    padding: 10px 23px !important; /* Tamaño del botón */
    font-family: "Poppins" !important; /* Cambia el tipo de letra */
    font-size: 16px !important; /* Tamaño del texto */
    font-weight: bold !important;
    background-color: #ffde00 !important; /* Color de fondo del botón */
    color: #e16f11 !important; /* Color del texto */
    border: none !important; /* Sin borde */
    border-radius: 5px !important; /* Bordes redondeados */
    cursor: pointer !important; /* Puntero en hover */
    transition: background-color 0.3s !important; /* Efecto de transición para el cambio de color */
}
  
button:hover {
    background-color: #e16f11 !important; /* Cambia el color de fondo cuando el mouse pasa sobre el botón */
    color: #ffde00 !important;
}
  
button:focus {
    outline: none !important; /* Elimina el borde del enfoque */
}


@media (min-width:768px) and (max-width:1024px){
    .contenedor-logo-menu-pc {
        visibility: hidden;
        display: none;
    }

    .contenedor-logo-menu {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
    }    
    #menu {
        position: fixed;
        top: 15vh; 
    }
        
    .menu-mobil {
        visibility: visible;
        margin-right: 5%;
        padding-top: 1%;
    }

    .active {
        color: #e16f11 !important;
    }

    .logo-menu-mobil {
        width: 130px;
        margin-left: 20%;
        margin-top: 10%;
    }
        
    .h1-main {
        text-align: center;
        max-width: 980px;
    }
    .h3-main {
        text-align: center;
        max-width: 980px;
    }
    .contenedor-redes {
        display: flex;
        justify-content: space-between;
        width: 980px;
        height: auto;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .redes {
        font-size: 24px;
        
    }
    .seccion-herramientas {
        margin-top: 8%;
    }

    .card-eleccion {
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
}


}

@media (min-width:320px) and (max-width:767px){
    #menu {
        position: fixed;
        top: 15vh; 
    }
        
    .contenedor-logo-menu-pc {
        visibility: hidden;
        display: none;
    }

    .contenedor-logo-menu {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
    }    

    .menu-mobil {
        visibility: visible;
        margin-right: 5%;
        padding-top: 1%;
    }

    .logo-menu-mobil {
        width: 130px;
        margin-left: 15%;
        margin-top: 10%;
    }

    /* Estilo para los enlaces del menú móvil */
    #menu ul li a {
        text-decoration: none;
        color: white;
        font-family: "Poppins";
        font-size: clamp(14px, 2vw, 18px);
        transition: color 0.3s, background-color 0.3s ease-in-out;
        position: relative;
        padding-bottom: 5px;
}

    #menu ul li a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #e16f11;
        transition: width 0.4s ease-in-out;
}

    #menu ul li a:hover::after,
    #menu ul li a:focus::after {
        width: 100%;
}

    .active {
        color: #e16f11 !important;
}

    #menu ul li a:hover,
    #menu ul li a:focus {
        color: white;
}

    .contenedor-main {
        display: flex;
        justify-content: center;
}

    .h1-main {
        text-align: center;
        color: #ffde00;
        margin-left: 0;
        margin-top: 1%;
        margin-bottom: 5%;
        max-width: 700px;
}

    .h3-main {
        text-align: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0;
        margin-bottom: 5%;
}

    .img-main {
        display: none;
}
/* Contenedor Redes */

    .contenedor-redes {
        display: flex;
        justify-content: space-between;
        width: 600px;
        height: auto;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
}
    .redes {
        font-size: 22px;
}
    .seccion-herramientas {
        margin-top: 15%;
}
    .card-eleccion {
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
}
    .card-resenas {
    width: 300px;
    height: auto;
}
}